<h2>Hyper news</h2>

{% regroup sorted_json_list by created_date as list_by_date %}

{% for item in list_by_date %}

    <h4>{{ item.grouper}} </h4>

    <ul>
        {% for row in item.list %}
        <li><a href="/news/{{row.link}}/">{{row.title}}</a></li>
        {% endfor %}
    </ul>

{% endfor %}
<form action="/news/" method="get">{% csrf_token %}
    <input type="text" name="q">
    <button type="submit">Search</button>
</form>

<a target="_blank" target="_blank" href="/news/create/">main</a>
